* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto'; font-size: 18px;
}

.flex {
    display: flex;
}

.first-container {
    background-color: #1F2937;
    padding: 0px 310px; 
    flex-direction: column;
    min-height: 550px;
}

.navbar {
    justify-content: flex-end;
    flex: 1;
    margin-top: 15px;
}

ul{
    flex: 1;
    gap: 18px;
}

li {
    list-style-type: none;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

li.logo {
    margin-right: auto;
    font-weight: 900;
    font-size: 24px;
}

.hero-container {
    margin-top: 50px;
    justify-content: space-between;
    flex: 1;
    gap: 50px;
}

h1 {
    color: #e5e7eb;
    font-weight: 900;
    font-size: 48px;
}

.info-container {
    flex-direction: column;
    width: 500px;
    gap: 12px;
}
.hero-img {
    width: 550px;
    height: 250px;
    background-color: gainsboro;
}

.hero-p {
    color: #e5e7eb;
}

.sign-up {
    background-color: #3882F6;
    border-radius: 8px;
    color: #e5e7eb;
    border: none;
    text-decoration: none;
    width: 110px;
    height: 40px;
    font-weight: 900;
}

.second-container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box-container {
    gap: 40px;
}

.img-info-group {
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.box {
    height: 150px;
    width: 150px;
    border: solid #3882F6 4px;
    color: #e5e7eb;
    border-radius: 8px;
}

.box-info {
    color: gray;
    flex-wrap: wrap;
    text-align: center;
}

.third-container {
    background-color: #e5e7eb;
    justify-content: center;
    padding: 50px 0px;
}

.quote-container {
    flex-direction: column;
    width: 800px;
    justify-content: center;
    height: 300px;
    font-weight: 300;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

h3 {
    align-self: flex-end;
}

.fourth-container {
    justify-content: center;
    padding: 50px 0px;
}

.call-to-action {
    background-color: #3882F6;
    width: 900px;
    height: 120px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-radius: 6px;
}

.call-info {
    flex-direction: column;
    gap: 3px;
}

h4 {
    font-size: 22px;
}

.call-to-action-text {
    color: #e5e7eb;
}

p.call-to-action-text {
    font-weight: 300;
}

.sign-up-2 {
    background-color: #3882F6;
    border-radius: 8px;
    color: #e5e7eb;
    border: solid 2px #e5e7eb;
    text-decoration: none;
    width: 130px;
    height: 32px;
    font-weight: 600;
}

.footer-container {
    background-color: #1F2937;
    justify-content: center;
    padding: 40px 0px;
}

p.copyright {
    color: #e5e7eb;
    font-weight: 300px;
}